{
	"parser": "babel-eslint",
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"rules": {
		"no-tabs": 0,
		"indent": [
			"error",
			"tab"
		],
		"require-jsdoc": 0,
		"object-curly-spacing": 0,
		"arrow-parens": 0,
		"no-unused-vars": "warn",
		"operator-linebreak": "off"
	},
	"extends": [
		"eslint:recommended",
		"google"
	],
}